In [32]:
import os
import csv
import pandas as pd

In [33]:
ED1_csv = os.path.join("election_data_1.csv")

In [34]:
ED1_pd = pd.read_csv(ED1_csv)
ED1_pd.head(5)

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [35]:
ED1_pd['Voter ID'].count()

803000

In [36]:
ED1_pd['Candidate'].value_counts()

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64